###########
#Step 1 and Step 2 are for pose model. Other step(s) is/are for facial emotion model
###########

#Step 1: # Usage: pip install -r requirements.txt

# Base ----------------------------------------
# matplotlib>=3.2.2
# numpy==1.24.3 
# opencv-python>=4.1.1
# Pillow>=7.1.2
# PyYAML>=5.3.1
# requests>=2.23.0
# scipy>=1.4.1
# tqdm>=4.41.0
# protobuf<4.21.3

# # Plotting ------------------------------------
# pandas>=1.1.4
# seaborn>=0.11.0


# # Extras --------------------------------------
# ipython  # interactive notebook
# psutil  # system utilization
# thop  # FLOPs computation

# Before donwloading above modules, please create a virtual environment in current directory and put yolov7-w6-pose.pt (Download: https://drive.google.com/drive/folders/1-1bzpX1EJwCrA7IMzrihfI5DctX1MTju) in current directory

# Step 2: This one need to install manually by not using requirements.txt
# pip install torch==2.1.1+cu121 torchvision==0.16.1+cu121 torchaudio==2.1.1+cu121 --index-url https://download.pytorch.org/whl/cu121
# pip install torch==2.2.1+cu121 torchvision==0.17.1+cu121 torchaudio==2.2.1+cu121 --index-url https://download.pytorch.org/whl/cu121

# Step 3:
openai==1.24.0
gtts==2.5.0
playsound==1.3.0
facenet-pytorch==2.5.3
emotiefflib==0.0.5
pygame==2.5.2
mutagen==1.47.0